extends layout

block content
  h1 Polls
  if !polls
    p No polls to show.
  else
    table
      tr
        th User
        th Poll
        th Options
      each poll, i in polls    
        tr
          td= poll.user_id
          td= poll.poll_title
          td= poll.poll_options