extends layout

block content
  h1= title
  form(method="POST", action="/signin")
    p Name of Poll: 
      input(type="text", name="pollName")
    p Description: 
      input(type="text", name="pollDescription")
    p
      input(type="submit")
    br
    br
    a(href='/') Return to home
