extends layout

block content
  if !user
    p You must sign before creating polls.
    a(href='/signin') Sign In
  else
    h3= title
    form(method="POST", action="/createnewpoll")
      p Name of Poll:
        input(type="text", name="title")
      p Description:
        input(type="text", name="description")
      p
        input(type="submit")
      br
      br
      a(href='/') Return to home
