extends layout

block content
  if !user
    a(href='/signin') Sign in
    br
    br
    a(href='/signup') Sign Up
    br
    br
    a(href='/allpolls') View all polls
    br
    br
  else
    div(style="text-align:center")
      h2 Hello #{user.username}!
      br
      a(href='/createnewpoll' text-align='center') Create a new poll
      br
      br
      a(href='/mypolls') View my polls
      br
      br
      a(href='/allpolls') View all polls
      br
      br
      a(href='/userlist') User List