extends layout

block content
    h1 User List
    table
        tr
            th User
            th Email
        each user, i in userlist
            tr
                td= user.username
                td= user.email
    br
    a(href='/') Return to home